<ul>
  <% @bookmark.each do |bookmark| %>
    <li>
      <a href= '<%=bookmark.url%>'><p><%= bookmark.url %></p></a>
      <p><%= bookmark.genre %></p>
      <p><%= bookmark.info %></p>
      <a href='bookmarks/<%=bookmark.id%>/edit'> edit </a>
      <form action='/bookmarks/<%=bookmark.id%>/delete' method='post'>
        <button> delete </button>
      </form>
    </li>
  <% end %>
</ul>